[mons]
20.0.0.20

[mgrs]
20.0.0.20

[mdss]
20.0.0.20

[rgws]
20.0.0.20

[osds]
20.0.0.40 devices="['/dev/disk/by-id/scsi-SQEMU_QEMU_HARDDISK_{{ volume1 }}', '/dev/disk/by-id/scsi-SQEMU_QEMU_HARDDISK_{{ volume2 }}', '/dev/disk/by-id/scsi-SQEMU_QEMU_HARDDISK_{{ volume3 }}', '/dev/disk/by-id/scsi-SQEMU_QEMU_HARDDISK_{{ volume4 }}']"

[grafana-server]
20.0.0.20
